html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    
}



.table1 {
    background: #fff;
}


form input {
    width: 80px;
    height: 100%;
    outline: none;
    padding: 0 1px;
    font-size: 12px;
    background: none;
    caret-color: #5372F0;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
    border-bottom-width:2px;
    transition: all 0.2s ease;
}

form input::placeholder {
    color: #bfbfbf;
    font-size: 11px;
    text-align: center;
}


.submit1 {
    width: 150px;
    margin: auto;
    text-align: center;
    margin-left: 550px;
    margin-top: 20px;
}
